.icon-menu {
  align-content: center;
  min-width: 400px;
  background-color: rgba(177, 189, 197, 0.67);
  border-radius: 5px;
  width: 30%;
  padding: 10px;
  margin: 10px;
  text-align: center;
  display: inline-block;
}

.menu-element {
  margin: 15px;
  width: 10%;
  display: inline-block;
}

